*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

application.log*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

.DS_Store

#elastic data
data/

#parallec log
parallec_logs/*
!parallec_logs/keepthisfile

#user data
userdata/*
!userdata/keepthisfile

!userdata/tasklogs
userdata/tasklogs/*
!userdata/tasklogs/keepthisfile
!userdata/sample_target*
*.jks
*.pem

#mkdown
.*.md.html

#IDE
/.idea/

/.settings/
.classpath
.project
/bin/
